module ${1:`Snippet_RubyClassNameFromFilename()`}

	def self.included(receiver)
		receiver.extend         ClassMethods
		receiver.class_eval do
		  ${2}
		end
		receiver.send :include, InstanceMethods
	end # self.included

	module ClassMethods

	end # ClassMethods

	module InstanceMethods

	end # InstanceMethods

end
