/**
 * @author Sune Simonsen
 * class \<c-r>=NS_prompt('snip_classname', 'class name', '')\<cr>
 * TODO: comment
 */
public class \<c-r>=snip_classname\<cr> {

    /**
      * Constructor for \<c-r>=snip_classname\<cr>
      */
    public \<c-r>=snip_classname\<cr>(){
    }

}
