/**
 * class $2
 * @author `g:snips_author`
 */
${1:public} class ${2:`Snippet_JavaClassNameFromFilename()`} extends ${3:Object} ${4:implements EventDispatcher} {

	/**
	 * Constructor for $2
	 */
	public function $2(${5}){
		${6}
	}

}