<select name="<+some_name+>" id="<+id+>"<+<+ multiple+><+ onchange="<++>"+><+ size="<+1+>"+>+>>
  <option<+ value="<+option1+>"+>><+value1+></option>
  <option<+ value="<+option2+>"+>><+value2+></option>
  <++>
</select>
